body {
  height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", Arial, sans-serif;
  background-color: navy;
  scroll-behavior: smooth;
}

.top {

  top: 0;
  width: 100%;
  text-align: center;
  position:absolute;
  padding: 20px 0;
  z-index: 999;
  margin-bottom: 30px; 
  font-size: 40px;/* Adjust the margin between heading and top row of cards */

}

.top h1 {
  margin: 0;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: bolder;
  color: aliceblue;


}
.tech_name {
  color: #7f9ead;
  font-size: medium;
 /* margin-left: 30%;*/
  text-align: center;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between cards */

}

.card {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 30px 50px;
  background: #fff;
  cursor: pointer;
  margin: 0 15px 30px 15px;
  margin-top: 8%;  /* Adjust margin between rows */
}
.card:nth-child(4n + 1) {
  margin-left: 0; /* Remove left margin for the first card in each row */
}

.card:last-child {
  margin-bottom: 0; /* Remove margin from the last card */
}

.card:nth-last-child(-n + 2) {
  margin-bottom: 60px; /* Add margin between the two rows */
}

.card:hover {
  height: 320px;
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-80px);
  z-index: 99;
}

img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.content {
  padding: 10px 20px;
  text-align: center;
  transform: translateY(-450px);
  opacity: 0;
  transition: 0.3s;
}

.card:hover > .content {
  opacity: 1;
  transform: translateY(-180px);
}

.content h2 {
  color: #7f9ead;
  font-size: medium;

}

.content p {
    font-size: small;
    text-align: center;
    margin-top: 6%;

}


@media screen and (max-width: 768px) {
  body {
    height: 360vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", Arial, sans-serif;
    background-color: navy;
    scroll-behavior: smooth;
  }
  .card:hover > .content {
    opacity: 1;
  }
  .btn {
    position: relative;
    z-index: 1;
    margin-top: -30px; /* Adjust this value as needed */
  }
  .card {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 30px 50px;
    background: #fff;
    cursor: pointer;
    margin: 0 15px 30px 15px;
    margin-top: 8%;  
    card {
      width: 300px; /* Set the width to the original size */
      height: 200px; /* Set the height to the original size */
      /* Your other styles for .card within this media query */
    }
  /* Adjust margin between rows */
  }
  .card:nth-child(4n + 1) {
    margin-left: 0; /* Remove left margin for the first card in each row */
  }
  
  .card:last-child {
    margin-bottom: 0; /* Remove margin from the last card */
  }
  
  .card:nth-last-child(-n + 2) {
    margin-bottom: 80px;
    margin-top: 6%; /* Add margin between the two rows */
  }
  .imgbox {
    position: relative;
    width: 100%;
    height: 90%;
    transform: translateY(-80px);
    z-index: 99;
  }
  img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    margin-left: 10%;
  }

  .content p {
    font-size: small;
    text-align: center;
    margin-top: 15%;
   
  .top h1 {
      margin: 0;
      font-size: small;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: italic;
      font-weight: bolder;
      color: aliceblue;
    
    
    }
  
}

}
.btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: cornflowerblue;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  border: none;
  font-weight: 200;
  font-size: medium;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(128, 137, 128)
}

@media(max-width:1400px){
.card-container{
  margin-top: 50%;
}
}
@media(max-width:1000px) {
.card-container{
  margin-top: 900px;
}
}
@media(max-width:900px) {
.card-container{
  margin-top: 1500px;
}
}
@media(max-width:800px) {
.card-container{
  margin-top: 300px;
}
}
@media(max-width:799px) {
.card-container{
  margin-top: 1700px;
}
}


@media (max-width:750px){
.card-container{
margin-top:100px;
}
}
@media(max-width:700px) {
.card-container{
  margin-top: 100px;
}
}
@media(max-width:500px){
.card-container{
  margin-top:100px;
}
}
