
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 5%, 4%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(196, 48%, 67%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/

h1{
  text-align: center;
  padding: 3%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  font-size:45px;
  text-shadow: 3px 3px #ddcd1f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  height: 155vh;
  background-image: linear-gradient(to right,rgb(0, 34, 255), rgb(220, 231, 231));
}




img {
  display: block;
  max-width: 100%;
  height: 231px;
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 2rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
  margin-bottom: 10%;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
  
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -7;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card_name{
  text-align: center;
}

/*cultural team*/

.card__container1 {
  display: grid;
  row-gap: 3.5rem;
  margin-bottom: 70%;
}

.card__article1 {
  position: relative;
  overflow: hidden;
}

.card__img1 {
  width: 328px;
  border-radius: 1.5rem;
  
}

.card__data1 {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -7;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description1 {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title1 {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card_name1{
  text-align: center;
}


/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover .card_name{
  visibility: hidden;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/*cultural team*/
.card__article1:hover .card__data1 {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article1:hover .card_name1{
  visibility: hidden;
}

.card__article1:hover {
  animation: remove-overflow 2s forwards;
}

.card__article1:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article1:not(:hover) .card__data1 {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

/*cultural team*/
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data1 {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container1 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container1 {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img1 {
    width: 348px;
  }
  .card__data1 {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
.navbar {
  background-color: none;
}

.logo img {
  height: 70px;
  width: 400px;
}

.nav-item {
  color: rgb(241, 241, 243);
  font-size: large;
  padding-top:2 px;
}
.nav-item .dropdown-menu{
  
}
.dropdown {
  position: fixed;
}
.dropdown-menu  {
  color: black;
  background-color: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-nav,#navcontent {
  display: flex;
  margin-right: 50px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: 550px;
}
#navbarDropdown {
  padding-top: 5px;
  font-size: 20px;
}

.btn1 {
  padding: 10px 20px;
  font-size: 16px;
  background-color:none;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  margin: 10px;
  border-radius: 25px;
  box-shadow: #00DDEB 0 0 10px;
}